<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="pathFolderUpdate" value="\\14.241.120.229\qlpk\KCLDemo\Update\Public" />
    <add key="pathPublicVersion" value="\\14.241.120.229\qlpk\KCLDemo\Update\PublicVersion.xml" />
  </appSettings>
</configuration>