<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Pine Light</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    
	<!--db chinh-->  
	<add key="ConnectionString" value="FSdiAhxmXScoEy8EIJOxPFPNc2u0mFzsQESMjCYeJboURR+vvfvCzj6otFoyvmcAKXxvQ1UPCw+ZiLy0hPWZ1M1H99rYQK4dr6us2okIKLx5gXFC+1dHcuawZelxXC3TUyprFp73x6mQ87aU0pyIvWta1r6D5IksUciuAkuoDGU=" />
	
	<!-- db test-->
	<!--<add key="ConnectionString" value="FSdiAhxmXScoEy8EIJOxPFPNc2u0mFzsQESMjCYeJboURR+vvfvCzj6otFoyvmcAKXxvQ1UPCw+ZiLy0hPWZ1KDD9+pn7YCLHVdAZ7nx63TBy61TGosxalHzpaMJPHT8BZFRH+stGJgfRnc0OIIlxS7iECsY4hTjw3yO+tABOLyFlbdP3qy2CQ==" />-->
    
	  <add key="timeout_connecttion" value="240" />
    <add key="pathImage" value="\\192.168.1.120\kcl\Snapshots\" />
	<add key="autoClickDichVu_TiepNhan" value="1" />
    <add key="pathPublicVersion" value="\\192.168.1.120\kcl\Update\PublicVersion.xml" />
	<add key="pathAPI" value="http://192.168.1.120:8282/api/HISIntergrate/SavePatientInfo/" />
	<add key="databaseAPI_Web" value="KClinic_Web_Demo" />
    <add key="CameraDeviceSA" value="Integrated Webcam" />
    <add key="CameraDeviceGPB" value="USB Video Device" />
    <add key="CameraDeviceNS" value="USB Video Device" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>